<div class="mypage-wrapper">

  <div class="mypage-header">

    <div class="mypage-header-left">
      <img class="user-picture" src="{{ this.userService.currentUser.photoURL }}" alt="">
    </div>

    <div class="mypage-header-right">
      <div class="user-info">
        <div class="userinfo-top">
          <h3>{{ this.userService.currentUser.displayName }}</h3>
          <div class="profileedit-container">
            <!-- twitterUrl -->
            <a
              *ngIf="this.userService.userInfo.twitterUrl"
              class="sns-url"
              href="{{ this.userService.userInfo.twitterUrl }}"
            >
              <button class="sns-btn twitter">Twitter</button>
            </a>
            <!-- instagramUrl -->
            <a
              *ngIf="this.userService.userInfo.instagramUrl"
              class="sns-url"
              href="{{ this.userService.userInfo.instagramUrl }}"
            >
              <button class="sns-btn instagram">Instagram</button>
            </a>
            <button class="edit-btn" routerLink="/mypage/useredit">プロフィールを編集</button>
          </div>
        </div>
        <p class="profile">{{ this.userService.userInfo.userText }}</p>
      </div>

      <div class="user-action">
        <p>投稿数: <span class="bold">xxx</span></p>
        <!-- いいねの絵文字 -->
        <p>いいねした数: <span class="bold">xxxx</span></p>
        <!-- 保存の絵文字 -->
        <p>保存数: <span class="bold">xx</span></p>
      </div>
    </div>

  </div>

  <div class="mypage-main userpicture">
    <div class="box" *ngFor="let userPicture of userPictures">
      <a routerLink="/picture/{{ userPicture.id }}"><img src="{{ userPicture.path }}" alt="a"></a>
    </div>
  </div>


</div>
