<div class="login-wrapper">
  <h3>ログインフォーム</h3>

  <!-- テンプレート駆動フォーム -->
  <!-- #form=ngForm テンプレート参照変数を使ってngFormディレクティブを代入 -->
  <!-- 通常テンプレート変数の右辺を指定すると特定のディレクティブやコンポーネントを参照する -->
  <form class="email-form" #form=ngForm (ngSubmit)="login(form)">
    <mat-form-field class="login-form" appearance="fill">
      <mat-label class="input-form">Email</mat-label>
        <input matInput [(ngModel)]="user.email" #email="ngModel" name="email" class="input-box" type="email" email>
        <mat-error *ngIf="email.errors?.['email']">正しいメールアドレスを入力して下さい</mat-error>
    </mat-form-field>
    <mat-form-field class="login-form" appearance="fill">
      <mat-label class="input-form">Password</mat-label>
        <input matInput [(ngModel)]="user.password" name="password" class="input-box" type="password">
    </mat-form-field>
    <button mat-stroked-button class="submit-btn btn" type="submit">ログイン</button>
  </form>

  <!-- <label for="signup-google">
    <button class="google-btn" (click)="loginGoogle()">Googleアカウントでログインする</button>
  </label> -->

  <a mat-stroked-button class="login-btn btn" routerLink="/signup">新規登録する</a>
</div>
