.useredit-wrapper {
  width: 100%;
  padding: 0 3%;
}

.useredit-field {
  display: flex;
  gap: 50px;
}

.useredit-left {
  width: 30%;
}

.userpicture-field {
  position: relative;
}

.userpicture-field::before {
  /* padding-top=100でアスペクト比をコントロールできる */
  content: "";
  display: block;
  padding-top: 100%;
}

.userpicture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
}

.useredit-right {
  width: 70%;
  margin-right: 35px;
}

.useredit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: baseline;
}

.form-field {
  width: 100%;
}

.error {
  color: red;
  margin: 0;
}

.previewphoto {
  width: 200px;
}

.input-box {
  font-size: 16px;
  width: 100%;
}

.btn-field {
  display: flex;
  gap: 20px;
}

.btn {
  margin-top: 30px;
  border-radius: 4px;
  letter-spacing: 0.05em;
  cursor: pointer;
}
