<div class="main-left">
  <h4>Tags List</h4>
  <p (click)="openClose()">Place</p>
  <ul class="category-title-place">
    <li [class.hide]="placeHide">
      <input id="chiyoda" type="checkbox" class="checkbox" [(ngModel)]="placeTags.chiyoda.selected" (change)="getPicture()">
      <label for="chiyoda"> Chiyoda</label>
    </li>
    <li [class.hide]="placeHide">
      <input id="minato" type="checkbox" class="checkbox" [(ngModel)]="placeTags.minato.selected" (change)="getPicture()">
      <label for="minato"> Minato</label>
    </li>
    <li [class.hide]="placeHide">
      <input id="shinjuku" type="checkbox" class="checkbox" [(ngModel)]="placeTags.shinjuku.selected" (change)="getPicture()">
      <label for="shinjuku"> Shinjuku</label>
    </li>
    <li [class.hide]="placeHide">
      <input id="shibuya" type="checkbox" class="checkbox" [(ngModel)]="placeTags.shibuya.selected" (change)="getPicture()">
      <label for="shibuya"> Shibuya</label>
    </li>
  </ul>

</div>
