<div class="signup-wrapper">
  <h3>ユーザー登録フォーム</h3>

  <!-- テンプレート駆動フォーム -->
  <!-- #form=ngForm テンプレート参照変数を使ってngFormディレクティブを代入 -->
  <!-- 通常テンプレート変数の右辺を指定すると特定のディレクティブやコンポーネントを参照する -->
  <form class="email-form" #form=ngForm (ngSubmit)="signupEmail(form)">
    <mat-form-field class="signup-form" appearance="fill">
      <mat-label for="email">Email</mat-label>
        <input matInput [ngModel]="user.email" #email="ngModel" name="email" class="input-box" type="email" email>
      <mat-error *ngIf="email.errors?.['email']">正しいメールアドレスを入力して下さい</mat-error>
    </mat-form-field>
    <mat-form-field class="signup-form" appearance="fill">
      <mat-label for="password">Password</mat-label>
        <input matInput [ngModel]="user.password" name="password" class="input-box" type="password">
    </mat-form-field>
    <button mat-stroked-button class="submit-btn btn" type="submit">メールアドレスで登録</button>
  </form>

  <mat-label for="signup-google">
    <button mat-stroked-button class="google-btn btn" (click)="signupGoogle()">Googleアカウントで登録</button>
  </mat-label>

  <a mat-stroked-button class="login-btn btn" routerLink="/login">ログインする</a>
</div>
