<div class="main-container">
  <div class="box">
    <a routerLink="detail"><img src="" alt="a"></a>
  </div>
  <div class="box">
    <a routerLink="detail"><img src="" alt="a"></a>
  </div>
  <div class="box">
    <a routerLink="detail"><img src="" alt="a"></a>
  </div>
  <div class="box">
    <a routerLink="detail"><img src="" alt="a"></a>
  </div>
  <div class="box">
    <a routerLink="detail"><img src="" alt="a"></a>
  </div>
  <div class="box">
    <a routerLink="detail"><img src="" alt="a"></a>
  </div>
  <div class="box">
    <a routerLink="detail"><img src="" alt="a"></a>
  </div>
</div>
