.detail-wrapper {
  width: 100%;
}

.detail-img {
  width: 100%;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.related-pic {
  display: flex;
  gap: 30px;
}

.pic-back {
  background-color: lightgray;
}

li {
  list-style: none;
}
