<div class="detail-wrapper">
  <div><img class="detail-img" src="" alt="a"></div>

  <div class="detail-header">
    <h2>建築名</h2>
    <div class="detail-header-right">
      <span>いいね</span>
      <span>保存</span>
    </div>
  </div>

  <div class="detail-data">
    <p>撮影者: </p>
    <p>撮影日時: </p>
    <p>撮影場所: </p>
    <p>キャプション: </p>
  </div>

  <div class="comment">
    Comment
    <ul class="">
      <li class=""></li>
    </ul>
  </div>

  <div class="related-pic">
    <div class="pic-back"><img src="" alt="b"></div>
    <div class="pic-back"><img src="" alt="c"></div>
    <div class="pic-back"><img src="" alt="d"></div>
  </div>
</div>
