<div class="newuser-wrapper">
  <h2 class="heading">ユーザー情報登録画面</h2>

  <form class="form" #form="ngForm" (ngSubmit)="registerUser(form)">
    <div class="form-group">
      <label class="username label" for="displayName">
        <!-- #name="ngModel" は何を働いている -->
        ユーザーネーム: <input class="input-box" [(ngModel)]="sendInfo.displayName" type="text" name="displayName" #name="ngModel" required>
      </label>
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors?.['required']">
          displayName is required.
        </div>
      </div>
      <label class="label" for="photoURL">
        <!-- eventを引数に指定すると、様々なイベント情報が格納されたイベントオブジェクトが渡る -->
        <!-- <input>のname属性 → 名前/値の組の部分としてフォームと一緒に送信される -->
        ユーザー画像: <input class="input-box" name="photoURL" type="file" (change)="previewPhoto($event)">
      </label>
      <img class="previewphoto" [src]=userService.photoSrc>
    </div>
    <button class="submit-btn" type="submit">ユーザー情報を登録する</button>
  </form>

</div>
