<div class="userpicture-wrapper">
  <div class="userpicture-field">
    <img *ngIf="userPicture" class="userpicture" src="{{ userPicture.path }}">
  </div>
  <div class="action-btn">
    <div class="button">
      <button mat-raised-button (click)="goBack()">Back</button>
      <button *ngIf="matchUser" mat-raised-button color="warn" (click)="deletePicture()">Delete</button>
    </div>
    <div class="favorite">
      <button *ngIf="this.userService.isLogin" mat-raised-button color="primary" (click)="changeFavorite()">お気に入り</button>
    </div>
  </div>
</div>
