.userpicture-wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}

.userpicture-field {
  width: 50%;
}

.action-btn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.userpicture {
  width: 100%;
}

.button {
  display: flex;
  gap: 10px;
}
